/* Setting Layer */
$background-base-color: #F6F8F7;

/* black */
$black: #000;
$black-dark-grey: #363636;
$black-base-color: #303030;

/* grey */
$grey: #808080;
$grey2: #626262;
$million-grey: #999999;


/* white */
$white: #ffffff;
$white-dr-white: #fafafa;
$white-border: #E5E5E5;

/* blue */
$blue: #0000ff;

/* green */
$green: #00ff00;
$green-fluorite: #52B8AE;

/* orenge */
$flash-of-orange: #ffaa00;


/* red */
$red: #ff0000;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
